{{ define "main" }}

{{ $data := index .Site.Data }}

<!-- hero -->
{{ if $data.homepage.banner.enable }}
{{ partial "hero.html" . }}
{{ end }}
<!-- /hero -->

<!-- event_info  -->
{{ if $data.homepage.event_info.disable }}
{{ partial "event_info.html" . }}
{{ end }}
<!-- /event_info -->


<!-- sponsor -->
{{ if $data.homepage.sponsors.disable }}
{{ partial "sponsor.html" . }}
{{ end }}
<!-- /sponsor -->

<!-- blog -->
{{ if $data.homepage.datalive.disable }}
{{ partial "noticias.html" . }}
{{ end }}
<!-- /blog -->


{{ end }}