
<div id="carouselHome" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {{ range $index, $value := (where .Site.RegularPages.ByDate "Section" "events" ) }}
    <li data-target="#carouselHome" data-slide-to="{{$index}}" {{if eq $index 0 }}class="active"{{end}}></li>
    {{ end }}
  </ol>
  <div class="carousel-inner">
    {{ range $index, $value := (where .Site.RegularPages.ByDate "Section" "events" ) }}
    <div class="carousel-item home-card-wrapper {{if eq $index 0 }}active{{end}}" {{with $value.Params.backimg}}style="background-image: url('{{.}}')"{{end}}>
      <div class="container card-content">
        <div class="event-meta d-flex">
          <div class="fecha">
            <div class="dia">
              {{with .Params.dia}}{{.}}{{end}}
            </div>
            <div class="mes">
              {{with .Params.mes}}{{.}}{{end}}
            </div>
          </div>
          <div class="lugar">
            <h3 class="ciudad">{{$value.Title}}</h3>
            <hr>
            <h5 class="sede">{{with .Params.sede}}{{.}}{{else}}Sede por confirmar{{end}}</h5>
          </div>
        </div>
        <div class="cta"><a href="{{.Permalink}}" class="button-hero">> Ver info</a></div>
      </div>
    </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

