<!-- Tracks -->

<div class="container tracks">

    <h2>Tracks</h2>
    <br>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card-tracks h-100 bg1">
          <div class="card-body">
            <h3 class="card-title-tracks">Site Reliability Engineering (SRE)</h3>
            <p class="card-text-tracks">Prácticas para gestionar infraestructura de cómputo a gran escala.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card-tracks h-100 bg2">
          <div class="card-body">
            <h3 class="card-title-tracks">GitOps</h3>
            <p class="card-text-tracks">Aprender a utilizar repositorios Git para generar infraestructura como código.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card-tracks h-100 bg3">
          <div class="card-body" >
            <h3 class="card-title-tracks">FinOps</h3>
            <p class="card-text-tracks">Optimiza los costos de infraestructura cloud.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

<!-- /Tracks -->