{{ define "main" }}
{{ partial "page-title.html" . }}

<!-- About Data Day -->
<div class="about-section">
  <div class="about-dataday">
    <h1>Acerca de <br> Data Day</h1>
    <div class="line-title-white"></div>
    <br>
    <h4>Data Day es la conferencia líder para profesionales de datos en América Latina que destaca por integrar en un mismo espacio a líderes de organizaciones dirigidas por datos, científicos de datos e ingenieros de datos, proveyendo a cada uno contenido de vanguardia desde un punto de vista objetivo y neutral.
    </h4>
      <br>
    <h4>Data Day México se ha realizado exitosamente desde 2015. Las ediciones de 2020 a 2022 se realizaron de forma virtual, y en 2023 volverá a ser en persona.
    </h4>
    <br>
    <h4>La novedad de este año es que tendremos 3 grandes líneas temáticas: Finanzas/fintech, política pública y analítica deportiva.
    </h4>
  </div>
  <br><br>
</div>
<!-- /About Data Day -->

{{ end }}

