<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}


<body>
	<div class="page-wrapper">
	{{- partial "header.html" . -}}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
	</div>
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>
	
	{{ "<!-- JS Plugins -->" | safeHTML }}
	{{ range .Site.Params.plugins.js}}
	<script src="{{ .link | relURL }}"></script>
	{{ end }}

	{{ "<!-- JS page Plugins -->" | safeHTML }}
	{{ range .Params.footerscripts}}
	<script src="{{ . }}"></script>
	{{ end }}

  	
</body>

</html>