.navbar-collapse {
	flex-grow: 0 !important;
}

.navbar-dark {
	opacity: 0.5;
}

#slides-iframe {
	margin-top: 2em;
}

section.register a {
	color: $secondary-color;
}

section.swag a,
section.page a {
	color: $secondary-color;
	text-decoration: underline;
}

section.faq img,
section.coc img {
	max-width: 100%;
}

section.register p,
section.swag p {
	font-size: 1.2em;
}

.btn-slack {
	background: $primary-color;
	color: $white;
	border-color: $primary-color;
	padding: 16px 20px;

	&:hover {
		background: $black;
		border-color: $black;
		color: $white;
	}
}

#slackModal .modal-body a {
	color: $secondary-color;
	text-decoration: underline;
}

.session-single {
	font-size: 16px;
	line-height: 1.8;
}

.session-single a {
	color: $secondary-color;
}

.headshot-box {
	position: relative;
}

.flag-ribbon {
	width: 50px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}


.logo-b {
	height: 64px;
}

.info-buttons {
	margin: 10px;
	display: grid;
	grid-template-columns: minmax(150px, 250px) minmax(150px, 250px);
	grid-gap: 40px;
	justify-content: center;
}


.team-strip {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.organizers h3 {
	text-align: center;
	margin: 1em;
}

.profile-item {
	margin: 0 2em;
	width: 180px;

	@include mobile {
		width: 150px;
	}

	text-align: center;
	justify-content: center;
}

.profile-item .headshot {
	padding: 0 1em;
}

.profile-item p {
	font-size: 0.9em;
}


.heading p {
	font-size: 1.2em;
}

.section-schedule {
	background-color: #dee7e7;
}

.section-speaker {
	background-color: #f6f5eb;
}

section.coc,
section.faq {
	a {
		color: $primary-color;
		text-decoration: underline;

		&:hover {
			color: $secondary-color;
		}
	}
}

section.sponsors {
	background-color: white;
}

.time-table .content {
	flex-basis: 75%;
}

.stroke-text {
	color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #3d3d3f;
	font-size: 100px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1;

	@include tablet {
		font-size: 60px;
	}

	@include mobile {
		font-size: 40px;
	}
}


.list-content {
	margin-bottom: 1.6em;
}

.card h3,
.card h6 {
	font-weight: 400;
}

.card h3 {
	font-size: 20px;
}

.office-hours td {
	padding: 6px 15px;
}


article.swag {
	padding: 1em;
	background-color: #ffffff;
	border: solid 1px gray;
}

.swag a {
	color: #017cee;
}

.swag-info {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 2fr;
	align-items: center;

	@media (max-width: 640px) {
		grid-template-columns: 1fr 1fr;
	}
}

.swag-detail-logo {
	width: 300px;
}

.page ul {
	list-style: initial;
	margin: initial;
	padding: 0 0 0 40px;
}


.call-to-action .content-box {
	margin: 60px auto;
	text-align: center;
}

.call-to-action p {
	font-size: 36px;
	line-height: 1.2em;
	color: $secondary-color;
}

.call-to-action .content-box .btn-box{
	position: relative;
}

hr.divider {
	width: 50%;	
	height: 4px;
	border: 0 none;
	background-color: $orange;
	color: $orange;
}

.event-page .event-card-wrapper {
	height: 100vh;
	background-size: cover;	
	background-position: 50%;
}

.event-card-wrapper.monterrey {
	background-image: url('/images/mty-back.webp');
	@media (max-width: 768px) {
	  background-image: url('/images/mty-back-mobile.webp');
	}
  }
  
  .event-card-wrapper.aguascalientes {
	background-image: url('/images/ags-back.webp');
	@media (max-width: 768px) {
	  background-image: url('/images/ags-back-mobile.webp');
	}
  }
  
  .event-card-wrapper.bogota {
	background-image: url('/images/bog-back.webp');
	@media (max-width: 768px) {
	  background-image: url('/images/bog-back-mobile.webp');
	}
  }
  

.event-card-wrapper .card-container {
	height: 100%;
	display: grid;
	grid-template-columns: 55% 45% ;
	grid-template-rows: 1fr fit-content(200px);
  
	.event-meta { grid-area: 2 / 1 / 3 / 2; }
	.card-info { grid-area: 1 / 2 / 3 / 3; }

	@media (max-width: 768px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr fit-content(150px);
	  
		.event-meta { grid-area: 2 / 1 / 3 / 2; }
		.card-info { grid-area: 1 / 1 / 2 / 3; }	
	}
	
}

.card-info {
	background-color: rgba(80,80,80,0.6);
	align-self: center;
	justify-self: center;
	color: white;
	font-size: 1.2em;
	padding: 1.5em;
}

.event-card-wrapper .event-meta {
    color: white;
	line-height: 1;
	padding-bottom: 1em;
  
	.fecha {
	  margin-right:1.8em;
	}
	.dia {
	  font-size: 5em;
	  font-weight: 700;
	}
	.mes {
	  font-size: 2.6em;
	  font-weight: 500;
	}
	h3.ciudad {
	  font-size: 3.2em;
	  font-weight: 500;
	}
	hr {
	  color: white;
	  width: 30%;
	  margin: 3px 0px;
	  height: 5px;
	  border: 0;
	  background-color: white;
	}
	h5.sede {
	  font-size: 2.6em;
	  font-weight: 500;
	}	
}

/* CSS */
.button-hero.cta1 {
	background-image: linear-gradient(92.88deg, #bd3377 9.16%, #cd2377 43.89%, #dd1377 64.72%);
  }
    
  .section.page {
	background-color: #bd3377;
	padding-top: 80px;
	color: white;
  }