
//fonts

$base-font                : Poppins, Helvetica, Arial, sans-serif;
$heading-font             : Poppins, Helvetica, Arial, sans-serif;
$base-font-size           : 17px;


// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white                    : #ffffff;
$black                    : #303030;
$black-lighter            : #444444;
$gray                    : #a4a4a4;
$gray-light               : #f8f8f8;
$border-color             : #e8e8e8;

$dark : #393939;

$primary-color: #bd3377;
$secondary-color: #0f92aa;
$orange:#f15b27;
$yellow:#fcdf00;
$red: #ed1b35;
$purple: #6d3dba;
